* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #EAE7DC;
    font-family: GothamRounded;
    font-size: 13px;
    color: #ffff;
}

.container {
    background-color: #77A6F7;
}


#nav {
    height: 100px;
    background-color: #EAE7DC;
    color: #ffff;
}
#navbarNav {
    height: 80px;
    color: #ffff;
    background-color: #808080;
}
    #navbarNav ul li {
        display: inline-block;
        margin: 2px 2px 2px 2px;
        border-radius:10px 10px 10px 10px;
        background-color: #6B6E70;
    }
