* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #c2c9cf;
    font-family: GothamRounded;
    font-size: 13px;
    color: #ffff;
}
/*Navbar*/
#navbar {
    background-color: #3A464B;
}
#navItems {
    margin-right:50px;
}
    #navItems li {
        display: block;
        padding:7px 7px 7px;
    }
    #navItems li:hover {
        background-color: #1ABC9C;
        border-radius:10px 10px 10px 10px;
    }
#navItems a {
    color: #ffff;
    font-size:16px;
    font-family:'Arial Rounded MT';
    font-weight:bold;
}
#logoText {
    color: #1ABC9C;
    font-family:Arciform;
    font-size:26px;
    margin-left:30px;
}
/*Carousel Slide*/
#row1 {
    height: 500px;
    margin-top: 30px;
    background-color: #202020;
    border-radius: 10px 10px 10px 10px;
}
#carouselSlides {
    object-fit: cover;
    width: 750px;
    height: 500px;
    margin-left: 250px;
    border-color: #1ABC9C;
}

/*Ekibimiz*/
#row2 {
    background-color: #202020;
    height: 450px;
    margin-top: 30px;
    border-radius: 10px 10px 10px 10px;
}
#ekibimiz {
    font-family: Arciform;
    color: #1ABC9C;
    font-size: 36px;
    padding-top: 10px;
    text-align:center;
}
.row .isim {
    font-family: Arciform;
    font-size: 24px;
    display: block;
    color: white;
    text-align: center;
    padding-top: 10px;
    margin-left:40px;
}
.row .ekip {
    width: 250px;
    height: 300px;
    border-radius: 50%;
    margin-left: 50px;
}
#row2 img {
    width: 250px;
    height: 300px;
    border-radius: 50%;
}
/*Jumbotron*/
#row3 {
    height: 200px;
    margin-top: 30px;
    padding: 5px;
    font-family: Arciform;
    background-color: #E9ECEF;
    color: #1ABC9C;
    text-align: center;
    font-size: 18px;
    border-radius: 10px 10px 10px 10px;
}

    #row3 h1 {
        color: #1ABC9C
    }
/*Footer*/
#footer {
    height: 100px;
    margin-top: 30px;
    padding: 30px;
    background-color: #E9ECEF;
    color: #6c757d !important;
    border-radius: 10px 10px 0px 0px;
}
#footer p{
    margin-left:100px;


}


