body{    background-color: #c2c9cf;}
/*Navbar*/
#navbar {
    background-color: #3A464B;
}

#navItems {
    margin-right: 50px;
}

    #navItems li {
        display: block;
        padding: 7px 7px 7px;
    }

        #navItems li:hover {
            background-color: #1ABC9C;
            border-radius: 10px 10px 10px 10px;
        }

    #navItems a {
        color: #ffff;
        font-size: 16px;
        font-family: 'Arial Rounded MT';
        font-weight: bold;
    }

#logoText {
    color: #1ABC9C;
    font-family: Arciform;
    font-size: 26px;
    margin-left: 30px;
}
/*Resimler*/
.container{margin-top: 110px !important;}
#urunBaslık {color: #3A464B;}
.card {
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 20px;
}
.card:hover{
    transform:translateY(-15px);
    transition:.3s;
}
.text1{
    font-size:13px;
    color:#cbcbcb;
}
.info{line-height:17px;}
.star{color:#fbc02d;}
.cost span {
    color: #1ABC9C;
    font-weight: bold;
    font-size: 20px;
}
.shoe {
    background-color: #1ABC9C;
    border-radius: 20px;
}

